ul {
	list-style: none;
}
.wrapper {
	margin-top: 75px;
}
.todo-filter {
	margin-bottom: 25px;
}
.todoField {
	padding-left: 5px;
	font-size: 20px;
	margin: 15px 10px;
	width: 35%;
}
.todoName {
	font-size: 20px;
	margin-top: -5px;
	border-bottom: 1px lightgray solid;
	padding-bottom: 5px;
}
.todoBlock {
	padding: 20px;
	border: 1px solid #adadad;
}
.add-btn {
	margin-top: -5px;
}
edit-in-place {
	width: 100%;
}
.edit-in-place span {
  cursor: pointer;
}

.edit-in-place input {
  display: none;
}

.edit-in-place.active span {
  display: none;
}

.edit-in-place.active input {
  display: inline-block;
	margin: 0;
}
@media screen and (max-width: 767px) {
	#todoAdd input, #todoAdd button {
		width: 100%;
		margin: 10px auto;
	}
}