<!doctype html>
<html lang="en" ng-app="todoList">
<head>
	<title>Angular test</title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/jquery-ui.min.css">
	<link rel="stylesheet" href="css/common.css">

	<script src="js/libs/jquery.min.js"></script>
	<script src="js/libs/jquery-ui.min.js"></script>
	<script src="js/libs/jquery.ui.touch-punch.min.js"></script>
	<script src="js/libs/bootstrap.min.js"></script>
	<script src="js/libs/angular.min.js"></script>
	<script src="js/libs/angular-local-storage.min.js"></script>
	<script src="js/libs/sortable.js"></script>
	<script src="js/app.js"></script>
	<script src="js/directives/angular.editInPlace.js"></script>
	<script src="js/directives/angular.ngEnter.js"></script>
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-controller="TodoCtrl" ng-init="init()">

	<div class="container wrapper">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<div class="row">
					<div class="col-sm-12">
						<div class="btn-group todo-filter">
						  <button type="button" class="btn btn-default" ng-class="{'active' : show == 'All' }" ng-click="show='All'">All</button>
						  <button type="button" class="btn btn-default" ng-class="{'active' : show == 'Unchecked' }" ng-click="show='Unchecked'">Incomplete</button>
						  <button type="button" class="btn btn-default" ng-class="{'active' : show == 'Checked' }" ng-click="show='Checked'">Complete</button>
						</div>
					</div>
				</div>
				<div class="row" id="todoAdd">
					<form class="col-xs-12">
						<div class="form-group">
							<input class="todoField" type="text" ng-model="newTitle" placeholder="Title">
							<input class="todoField" type="text" ng-model="newDescription" placeholder="Description">
							<button type="submit" class="btn btn-primary add-btn" ng-click="addTodo()" ng-enter>Add</button>
						</div>
					</form>
				</div>
				<div class="row">
					<ul class="col-sm-12" ng-repeat="todos in model track by $index" ui-sortable="todoSortable" ng-model="todos.list" ng-show="$index === currentShow">
						<li class="todoBlock row" ng-repeat="todo in todos.list | filter:sort">
							<input class="col-xs-1" ng-model="todo.isDone" type="checkbox">
							<span class="col-xs-5"><edit-in-place value="todo.title"></edit-in-place></span>
							<span class="col-xs-5"><edit-in-place value="todo.description"></edit-in-place></span>
							<button type="button" class="close pull-right col-xs-1" aria-hidden="true" ng-click="deleteTodo(todo)">&times;</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>